* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

:root {
    --primary: #b5ddff;
    --secondary: #356cf9;
    --light: rgba(254, 255, 254, 1);
    --dark: rgba(50, 51, 50, 1); 
    --violet : #a269bd;    
}

.debug header {
    height: 70px;
    background-color: var(--secondary);
}

/* #region padding/margin */
.pd-1 {
    padding: 1rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem ;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem ;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.w-100 {
    width: 100%;
}

.w-40 {
    width: 40%;
}

/* #endregion padding/margin */

/* #region utilities */

.bgc-p {
    background-color: var(--primary);
}

.c-violet {
    color: var(--violet);
}

.container {
    width: 80%;
    max-width: 1152px;
    margin: auto;
/*     background-color: darkslategrey; */
}

.card {
    border-radius: 1rem;
    border: 1px solid black;
    min-height: 150px;
}

.col-12 {
    width: 100%;
}

.col-8 {
    width: calc(100%/12 * 8);
}

.col-6 {
    width: calc(100%/12 * 8);
}

.col-4 {
    width: calc(100%/12 * 8);
}

.ls-none {
    list-style: none;
}

img {
    max-width: 100%;
}

.btn-gs {
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 1rem;
    border-style: none;
    background-color: var(--light);
}

.text-center {
    text-align: center;
}

.text-l {
    font-size: 250%;
}

/* #endregion utiities */

/* #region header */

#site-header {
    max-width: 100%;
    height: 100%;
    color: var(--light);
    background-color: var(--secondary);
}

.h-container {
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

ul {
    align-items: center;
}

li {
    margin: 1rem;
}

/* #endregion header */

/* #region main */

/* #region demo */

#demo-container {
    width: 70%;
    margin: auto;
}

#demo i {
    font-size: 400%;
    color: var(--secondary);
}

#demo h2 {
    color: var(--secondary);
    padding: 1rem;
}

.btn-apps {
    color: var(--light);
    font-size: 1rem;
    padding: 10px 3rem;
    border-radius: 1rem;
    border-style: none;
    background-color: var(--secondary);
}

#phone {
    width: 70%;
    padding: none;
    margin: none;
}

.democard {
    border-radius: 2rem;
    padding: 1rem;
    background-color: var(--primary);
    border: 10px solid var(--light);
}

/* #endregion demo */

/* #region planning */

#planning {
    padding: 3rem;
}

#planning-container {
    width: 60%;
    margin: auto;
    align-items: end;
}

.planningcard {
    color: var(--light);
    border-radius: 2rem;
    padding: 1rem;
}

.planningcard-white {
    color: var(--dark);
    background-color: var(--light);
    border-radius: 2rem;
    text-align: center;
    padding: 1rem;
}

.btn-down {
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--violet);
    border-radius: 50%;
    border: none;
}

/* #endregion planning */

/* #region testimonials */

#testimonial-container {
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;
}

#testimonial-intro {
    text-align: center;
}

.testimonial-card {
    background-color: var(--violet);
    padding: 2rem;
    color: var(--light);
    border-radius: 2rem;
    margin: 1rem;
}

.testimonial-image {
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial-card p,h4 {
    padding-left: 2rem;
}

#planning,
#benefits,
#getstarted {
    background-color: #a269bd;
    min-height: 150px;
}

/* #endregion main */

#site-footer {
    background-color: rgba(34, 34, 34, 0.781);
    height: 150px;
}

@media screen and (min-width: 768px) {
    .col-12 {
        width: calc(100%/12 * 12)
    }
    
    .col-8 {
        width: calc(100%/12 * 8);
    }
    
    .col-6 {
        width: calc(100%/12 * 6);
    }
    
    .col-4 {
        width: calc(100%/12 * 4);
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-8 {
        width: calc(100%/12 * 8);
    }
    
    .col-md-6 {
        width: calc(100%/12 * 6);
    }

    .col-md-4 {
        width: calc(100%/12 * 4);
    }

    .d-flex {
        display: flex;
    }
    
    .wrap {
        flex-wrap: wrap;
    }

}

@media screen and (min-width: 1140px) {
    .col-12 {
        width: calc(100%/12 * 12)
    }
    
    .col-8 {
        width: calc(100%/12 * 8);
    }
    
    .col-6 {
        width: calc(100%/12 * 6);
    }
    
    .col-4 {
        width: calc(100%/12 * 4);
    } 

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-8 {
        width: calc(100%/12 * 8);
    }

    .col-lg-6 {
        width: calc(100%/12 * 6);
    }
    
    .col-lg-4 {
        width: calc(100%/12 * 4);
    }

    .d-flex {
        display: flex;
    }

    .wrap {
        flex-wrap: wrap;
    }
    
}
